/********REUSED CODE FROM CHALLENG 2 - https://github.com/RochelleYounger/Portfolio************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace, Helvetica, Arial, sans-serif;
}

/* HEADER STYLES START */
header {
  padding: 20px 35px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  z-index: 10;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 10px rgba(55, 10, 85, 0.5);
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.7vw;
}

header nav ul li a:hover {
  background: white;
  color: grey;
  border-radius: 3px;
}
/* HEADER STYLES END */

section {
  padding: 80px;
}

/* SECTION BIO */
.bio {
  display: flex;
  justify-content: space-around;
}
.bio h3 {
  font-size: 48px;
  border-right: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  margin: auto 20px auto;
  width: 40%;
  border-color: rgb(124, 26, 204);
}

.bio p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25;
  border: 3px solid transparent;
  padding: 10px 10px 10px 10px;
  margin: 30px 30px;
}

/* SECTION STYLING START */
.items h3 {
  font-size: 48px;
  text-align: center;
  border-bottom: 3px solid;
  color: black;
  padding-bottom: 12px;
  margin: 30px auto 50px;
  width: 25%;
  border-color: rgb(124, 26, 204);
}

.items ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.items ul li a {
  text-decoration: none;
  color:rgb(124, 26, 204);
  font-size: 2.5vw;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.7vw;
}

.items ul li a:hover {
  background: rgb(124, 26, 204);
  color: white;
  border-radius: 3px;
}

/* CONTACT STYLING START */
.contact h3 {
  font-size: 48px;
  text-align: center;
  border-bottom: 3px solid;
  color: black;
  padding-bottom: 12px;
  margin: 30px auto 50px;
  width: 25%;
  border-color: rgb(124, 26, 204);
}

.contact div {
  display: flex;
  justify-content: center;
}

.contact ul {
  padding: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact ul li a {
  text-decoration: none;
  color:rgb(124, 26, 204);
  justify-content: space-around;
  padding: 10px 20px;
  margin: auto;
  font-weight: bold;
  font-size: 2.5vw;
  display: flex;
}

.contact ul li a:hover {
  background: rgb(124, 26, 204);
  color: white;
  border-radius: 3px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input, .contact-form textarea {
  border: 1px solid rgb(124, 26, 204);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: rgb(124, 26, 204);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: rgba(255,255,255, 0.75);
}

.contact form input:focus, .contact-form textarea:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.contact form button {
  width: 100%;
  border: none;
  background: grey;
  color: rgb(124, 26, 204);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 3px;
}

.contact form button:hover {
  color: white;
  background: rgb(124, 26, 204);
}
/* CONTACT STYLING END */

/* FOOTER STYLES */
footer {
  color:rgb(124, 26, 204);
  text-align: center;
}